*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: var(--primary-color);
    height: 100vh;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    transition: .5s;
}

.second-color{
    --primary-color: black;
    --secondary-color: white;
    transition: .5s;
}



.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar .logo{
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary-color);
    animation: 1s;
    animation-name: loadd;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes loadd{
    from{opacity: 0;}
    to{opacity: 1;}
}

.navbar .logo::after{
    opacity: 1;

}

.navbar .logo .logo-dot{
    color: rgb(138, 82, 212);
}

.navbar ul{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    opacity: 0;
    animation: slide-bar 0.5s ease-out forwards;
}

.navbar ul li:nth-child(1) {
    animation-delay: 0.1s;
}

.navbar ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.navbar ul li:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar ul li:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar ul li:nth-child(5) {
    animation-delay: 0.5s;
}

.navbar ul li:nth-child(6) {
    animation-delay: 0.6s;
}

@keyframes slide-bar{
    from{transform: translatey(-300px); opacity: 0;}
    to{transform: translatey(0); opacity: 1;}
}


#dark-mode{
    font-size: 25px;
    color: var(--secondary-color);
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    transition: .6s;
}

.nav-info{
    position: sticky;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(138, 82, 212);
}   

.home{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
}

.home-info{
    text-align: start;
}

.home-info h1{
    font-size: 70px;
    font-weight: 700;
}
.home-info h2{
    font-size: 50px;
    font-weight: 500;
}

.home .home-web{
    color: rgb(138, 82, 212);
    overflow: hidden;
    border-right: 4px solid var(--primary-color); /* Zorgt voor de cursor */
    white-space: nowrap;
    animation-delay: 2s;
    animation: typing 3s steps(25, end), blink-caret .75s 4; /* Typing animatie met knipperende cursor */
    display: inline-block;
}
.home h2{
    display: flex;
    gap: 12px;
}

/* Typing animatie */
@keyframes typing {
    from {
        width: 0; /* Start zonder tekst */
    }
    to {
        width: 39%; /* De breedte van het volledige element */
    }
}

/* Knipperende cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Cursor onzichtbaar */
    }
    50% {
        border-color: black; /* Cursor zichtbaar */
    }
}

.home-info p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    width: 80%;
}

.home-info .home-acn{
    color: rgb(138, 82, 212);
}


.home .home-info .btn-sci{
    margin-top: 30px;
    opacity: 0;
    animation: 1s;
    animation-name: load;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes load{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home .home-info .btn-sci::after{
    opacity: 1;

}

.btn{
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(138, 82, 212);
    border: 2px solid;
    border-radius: 23px;
    padding: 15px 25px;
    transition: .6s;
}

.btn:hover{
    background-color:var(--primary-color);
    color:  rgb(138, 82, 212);
    box-shadow: 0px 0px 15px rgb(138, 82, 212);
}
.btn:active{
    background-color: rgb(138, 82, 212);
    color: var(--primary-color);
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    animation-delay: 2s;
    animation: img-animm 1s ease-out 1;
    box-shadow: 0px 0px 40px rgb(138, 82, 212)
}

@keyframes img-animm{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home-img .img-box::after{
    opacity: 1;
    background-color: rgb(138, 82, 212);
}



@keyframes img-anim {
    from{opacity: 0;}
    to{opacity: 1;}
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    animation: img-anim 1s ease-out 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: img-anim 1.3s ease-out 1;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.home-img .img-box .img-item img:hover{
    filter: grayscale(10%);
}

.home .home-info{
    opacity: 0;
    animation: 1s;
    animation-name: load1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes load1{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home .home-info::after{
    opacity: 1;

}


.home .home-info .btn-sci{
    display: flex;
    justify-content: start;
    align-items: center;
}

.home .home-info .btn-sci  a i{
    color: rgb(138, 82, 212);
    padding: 5px;
    font-size: 2.3rem;
    transition: .5s;
    }

    .home .home-info .btn-sci  a i:hover,
    .home .home-info .btn-sci  a i:active{
    color: rgb(187, 143, 244);
}


.about{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
}

.about .about-info{
    text-align: start;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 13%;
}

.about-info h1{
    font-size: 70px;
    font-weight: 700;
}
.about-info h2{
    font-size: 50px;
    font-weight: 500;
}

.about-info .about-me{
    font-size: 70px;
    font-weight: 700;
    color: rgb(138, 82, 212);   
}

.about-info p{
    font-size: 20px;
    font-weight: 400;
    width: 90%;
}

.about-info .about-web{
    color: rgb(138, 82, 212);
}

.about-info h1 h2{
    display: flex;
    justify-content: flex-end;
}

.learn-more{
    margin-top: 20px;
}

.button{
    color: rgb(138, 82, 212);
    font-size: 20px;
    font-weight: 100;
    background-color: var(--secondary-color);
    border: 2px solid;
    border-radius: 23px;
    padding: 10px 10px;
    transition: .6s;

}

.about-img .about-box{
    width: 32vw;
    height: 32vw;
    background-color: rgb(138, 82, 212);
    box-shadow: 0px 0px 40px rgb(138, 82, 212);
    border-radius: 50%;
}
.about-img{
    width: 50%;
}

.about-img .about-box .about-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-img .about-box .about-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.about-img .about-box .about-item img:hover{
    filter: grayscale(10%);
}

.skills{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
}

.skills-info{
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills .skills-info ul{
    padding: 0;
}

.skills .skills-info li{
    list-style: none;
    font-size: 30px;
    margin-bottom: 30px; 
}

.tekst{
    opacity: 0;
    animation: 1s;
    animation-name: tekst;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes tekst{
    from{opacity: 0;}
    to{opacity: 1;}
}

.tekst::after{
    opacity: 1;
}


