*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: var(--primary-color);
    height: 100vh;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color: rgb(138, 82, 212);
    transition: 1s;
}

.second-color{
    --primary-color: black;
    --secondary-color: white;
    --third-color: rgb(138, 82, 212);
    transition: 1s;
}

.theme-color{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color: rgb(246, 69, 98); 
    transition: 1s;
}

.theme-color1{
    --primary-color: rgb(32, 32, 32);
    --secondary-color: white;
    --third-color: rgb(0, 249, 241); 
    transition: 1s;
}



.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar .logo{
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary-color);
    animation: 1s;
    animation-name: loadd;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes loadd{
    from{opacity: 0;}
    to{opacity: 1;}
}

.navbar .logo::after{
    opacity: 1;

}

.navbar .logo .logo-dot{
    color: var(--third-color);
}

.navbar ul{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    opacity: 0;
    animation: slide-bar 0.5s ease-out forwards;
}

.navbar ul li:nth-child(1) {
    animation-delay: 0.1s;
}

.navbar ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.navbar ul li:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar ul li:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar ul li:nth-child(5) {
    animation-delay: 0.5s;
}

.navbar ul li:nth-child(6) {
    animation-delay: 0.6s;
}

@keyframes slide-bar{
    from{transform: translatey(-300px); opacity: 0;}
    to{transform: translatey(0); opacity: 1;}
}


#dark-mode{
    font-size: 25px;
    color: var(--secondary-color);
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    transition: .6s;
}

.nav-info{
    position: sticky;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: var(--third-color);
}   

@keyframes home-anim{
    from{
        opacity: 1;
        scale: 1;
        transform: translatex(0px);
    }
    to{
        opacity: 0;
        scale: 0;
        transform: translatex(200px);
    }
}


.home{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
}

.home-info{
    text-align: start;
    justify-content: center;
}

.begin{
    color: var(--secondary-color);
}

.home-info h1{
    font-size: 70px;
    font-weight: 700;
}
.home-info h2{
    font-size: 50px;
    font-weight: 500;
}

.home .home-web{
    color: var(--third-color);
    overflow: hidden;
    border-right: 4px solid var(--primary-color); /* Zorgt voor de cursor */
    white-space: nowrap;
    animation: typing 2.5s steps(25, end), blink-caret .75s 3.5; /* Typing animatie met knipperende cursor */
    display: inline-block;
}
.home h2{
    display: flex;
    gap: 12px;
}

/* Typing animatie */
@keyframes typing {
    from {
        width: 0; /* Start zonder tekst */
    }
    to {
        width: 39%; /* De breedte van het volledige element */
    }
}

/* Knipperende cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Cursor onzichtbaar */
    }
    50% {
        border-color: black; /* Cursor zichtbaar */
    }
}

.home-info p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    width: 80%;
}

.home-info .home-acn{
    color: var(--third-color);
}


.home .home-info .btn-sci{
    margin-top: 30px;
    opacity: 0;
    animation: 1s;
    animation-name: load;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes load{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home .home-info .btn-sci::after{
    opacity: 1;

}

.btn{
    width: fit-content;
    display: flex;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    background-color: var(--third-color);
    border: 2px solid;
    border-radius: 23px;
    padding: 15px 30px;
    transition: .6s;
}

.btn:hover{
    background-color:var(--primary-color);
    color: var(--third-color);
    box-shadow: 0px 0px 15px var(--third-color); 
}
.btn:active{
    background-color: var(--third-color);
    color: var(--primary-color);
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    animation-delay: 2s;
    animation: img-animm 1s ease-out 1;
    box-shadow: 0px 0px 40px var(--third-color);
}

@keyframes img-animm{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home-img .img-box::after{
    opacity: 1;
    background-color: var(--third-color);
}



@keyframes img-anim {
    from{opacity: 0;}
    to{opacity: 1;}
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    animation: img-anim 1s ease-out 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: img-anim 1.3s ease-out 1;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.home-img .img-box .img-item img:hover{
    filter: grayscale(10%);
}

.home .home-info{
    opacity: 0;
    animation: 1s;
    animation-name: load1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes load1{
    from{opacity: 0;}
    to{opacity: 1;}
}

.home .home-info::after{
    opacity: 1;

}


.home .home-info .btn-sci{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.home .home-info .btn-sci  i{
    color: var(--third-color);
    padding: 5px;
    font-size: 2.3rem;
    transition: .5s;
    }

    .home .home-info .btn-sci  a i:hover,
    .home .home-info .btn-sci  a i:active{
    color: var(--third-color);
    }

    @media (max-width: 1000px) {
        .home-info h1{
            font-size: 40px;
            font-weight: 600;
        }
        .home-info h2{
            font-size: 30px;
            font-weight: 500;
        }
        .home-img .img-box{
            display: none;
        }
        .home{
            display: flex;
        }
        
    }


.about{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
    scroll-snap-type: x mandatory;
}

.about .about-info{
    text-align: start;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 13%;
    scroll-snap-align: start;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

.about-info h1{
    font-size: 70px;
    font-weight: 700;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.about-info h2{
    font-size: 50px;
    font-weight: 500;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#change-theme{
    display: flex;
    color: var(--third-color);
    font-size: 30px;
    cursor: pointer;
}

.about-info .about-me{
    font-size: 70px;
    font-weight: 700;
    color: var(--third-color); 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;  
}

.about-info p{
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 29%;
}

.about-info .about-web{
    color: var(--third-color);
}

.about-info h1 h2{
    display: flex;
    justify-content: flex-end;
}

.learn-more{
    margin-top: 20px;
    width: fit-content;
}

.button{
    color: var(--third-color);
    font-size: 20px;
    font-weight: 100;
    background-color: var(--secondary-color);
    border: 2px solid;
    border-radius: 23px;
    padding: 10px 10px;
    transition: .6s;

}

@keyframes appear-img{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}


.about-img .about-box{
    width: 32vw;
    height: 32vw;
    background-color: var(--third-color);
    box-shadow: 0px 0px 40px var(--third-color);
    border-radius: 50%;
    animation: appear-img linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.about-img{
    width: 50%;
}

.about-img .about-box .about-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-img .about-box .about-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.about-img .about-box .about-item img:hover{
    filter: grayscale(10%);
}

/* @media (max-width: 1000px) {
    .about-info h1{
        font-size: 40px;
        font-weight: 600;
    }
    .about-info h2{
        font-size: 30px;
        font-weight: 500;
    }
    .about-img .about-box{
        display: none;
    }
    .about{
    }
    
} */

.skills{
    display: flex;
    align-items: center;
    transition: 1s;
    height:100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 100%;
}

.skills-info{
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skills .skills-info ul{
    padding: 0;
}

.skills .skills-info li{
    list-style: none;
    font-size: 30px;
    margin-bottom: 30px; 
}

.tekst{
    opacity: 0;
    animation: 1s;
    animation-name: tekst;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes tekst{
    from{opacity: 0;}
    to{opacity: 1;}
}

.tekst::after{
    opacity: 1;
}

#html{
    color: red;
    font-size: 1.5rem;
}

#css{
    color: blue;
    font-size: 1.5rem;
}

#js{
    color: yellow;
    font-size: 1.5rem;
}

#sql{
    color: lightskyblue;
    font-size: 1.5rem;
}

#php{
    color: rgb(125, 56, 125);
    font-size: 1.5rem;
}


.skills-me{
    color: var(--third-color);
}

.skills-info h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 2%;
}

@keyframes appear-skills{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


.html{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: var(--secondary-color) solid 2px;
    overflow: hidden;
    position: relative; 
    height: 30px; 
    margin-bottom: 20px;
    animation: appear-skills linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.html .html-l {
    background-color:var(--third-color);
    width: 85%;
    height: 100%;
}



.css{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: var(--secondary-color) solid 2px;
    overflow: hidden;
    position: relative; 
    height: 30px; 
    margin-bottom: 20px;
    animation: appear-skills linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.css .css-l {
    background-color: var(--third-color);
    width: 80%;
    height: 100%
}

.javascript{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: var(--secondary-color) solid 2px;
    overflow: hidden;
    position: relative; 
    height: 30px; 
    margin-bottom: 20px;
    animation: appear-skills linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.javascript .javascript-l{
    background-color: var(--third-color);
    width: 60%;
    height: 100%;
}

.sql{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: var(--secondary-color) solid 2px;
    overflow: hidden;
    position: relative; 
    height: 30px; 
    margin-bottom: 20px;
    animation: appear-skills linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}

.sql .sql-l {
    background-color: var(--third-color);
    width: 80%;
    height: 100%
}

.php{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: var(--secondary-color) solid 2px;
    overflow: hidden;
    position: relative; 
    height: 30px; 
    margin-bottom: 20px;
    animation: appear-skills linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.php .php-l {
    background-color: var(--third-color);
    width: 60%;
    height: 100%
}

.sociaal{
    background-color: var(--third-color);
    width: 80%;
    height: 100%
}

.Teamwork{
    background-color: var(--third-color);
    width: 95%;
    height: 100%
}

.Communicatie{
    background-color: var(--third-color);
    width: 90%;
    height: 100%
}

.probleemoplossend{
    background-color: var(--third-color);
    width: 70%;
    height: 100%
}

.creatief{
    background-color: var(--third-color);
    width: 90%;
    height: 100%
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skills {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 50%;
}

.skills-info {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skills {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 5% 0;
    color: var(--secondary-color);
    width: 50%; 
}

.skills-info {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 100%; 
}


:root {
    --cb: cubic-bezier(.05, .61, .41, .95);
  }
  
  @keyframes appear-project{
    from{
        opacity: 0;
        scale: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    transition: 1s;
    background: var(--primary-color);
    animation: appear-project linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
  }
  
  
  .cards {
    display: flex;
    max-width: 1200px;
    width: calc(100% - 100px);
    height: 500px;
  }
  
  .cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .6s var(--cb);
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
  }
  
  .cards .card.active {
    flex-grow: 1;
    background-size: cover;
  }
  
  .cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s var(--cb);
  }
  
  .cards .card.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }
  
  .cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s var(--cb);
  }
  
  .cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(0, #0004, transparent);
  }
  
  .cards .card.active .info {
    opacity: 1;
  }
  
  .cards .card:not(.active) .info {
    opacity: 0;
  }
  .icon{
    color: black;
  }



.contact {
    padding: 100px 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;  
}

@keyframes appear4{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: flex-start; 
    width: 48%;
    height: 100%; 
    text-align: left;
    
}

.contact-info h1 {
    font-size: 100px;
    width: 100%;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--secondary-color);
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.contact-info .contact-me {
    color: var(--third-color);
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.contact-info #work {
    font-size: 40px;
    font-weight: 500;
    color: var(--secondary-color);
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.contact-info #tekst {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.contact-info #mail, .contact-info #number {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    animation: appear4 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.contact-gegevens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item i {
    font-size: 25px;
}

#email {
    color: var(--third-color);
}

#phone {
    color: var(--third-color);
}

@keyframes appear5{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

.contact-forms {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms-info form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 0;
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.forms-info input, .forms-info textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.forms-info .btn {
    width: fit-content;
    display: flex;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    background-color: var(--third-color);
    border: 2px solid;
    border-radius: 23px;
    padding: 15px 30px;
    transition: .6s;
    animation: appear5 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
    
.btn:hover{
        background-color:var(--primary-color);
        color:  var(--third-color);
        box-shadow: 0px 0px 15px var(--third-color);
}

.btn:active{
        background-color: var(--third-color);
        color: var(--primary-color);
}

.phone{
    display: none;
}


@media (max-width: 1015px){
    .navbar{
        display: none;
    }
    *{
        background-color: rgb(44, 44, 44);
    }
    .phone{
        display: flex;
        flex-direction: column; 
        color: white;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;
    }
    #phone{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: white;
    }

    .phone h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: rgb(138, 82, 212);
    }
    .phone h3{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }

    .phone p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }
    .home{
        display: none;
    }
    .about{
        display: none;
    }
    .skills{
        display: none;
    }
    .body{
        display: none;
    }
    .contact{
        display: none;
    }
}

/* @media (max-width: 1000px) {
    .home-info h1{
        font-size: 40px;
        font-weight: 600;
    }
    .home-info h2{
        font-size: 30px;
        font-weight: 500;
    }
    .navbar{
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        padding: 10px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
} */